html {
  font-size: 62.5%;
}

h2 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.gallery--item_image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.gallery {
  list-style: none;
  max-height: 65vh;
  overflow: auto;
}
.gallery--item_title {
  display: block;
  width: 15rem;
  font-size: 1.5rem;
  background-color: aliceblue;
  text-align: center;
}
.gallery--item_image {
  display: block;
}
.gallery--item {
  border: 2px solid lightgray;
  border-radius: 40px;
  overflow: hidden;
  width: 15rem;
  margin-top: 1rem;
}

.logo {
  font-size: 4rem;
  text-align: center;
  /* svg */
  background-color: aquamarine;
}
.gallery li:nth-child(1) {
  margin-top: 0;
}
